.card {
  height: 200px;
  border: solid 2px #7b5a50; /* Bronze Viking */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #d6c9b4; /* Bege Areia */
  padding: 15px;
  transition: border-color 0.3s ease;
}

.card:hover {
  border-color: #ffbf00; /* Âmbar Dourado */
}

.img {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.container_description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
  gap: 10px;
}

.container_description h3 {
  color: #d4af37; /* Ouro Viking */
  margin: 0;
  text-align: center;
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pricing p {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  color: #d6c9b4; /* Bege Areia */
}

.cartButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d4af37; /* Ouro Viking */
  transition: transform 0.2s ease;
}

.cartButton:hover {
  transform: scale(1.1);
}

.cartButton svg {
  width: 20px;
  height: 20px;
}
.detailRow {
  display: flex;
  justify-content: space-evenly;
}
