/* Estilos para o DropdownMenu */
.dropdownMenu {
  display: none; /* Oculto por padrão, exibido apenas no mobile */
}

/* Estilos específicos para mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .dropdownMenu {
    display: flex;
    width: 100vw;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 85%;
    height: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #7b5a50;
    border-top: 2px solid #7b5a50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .container > li > a {
    display: block;
    padding: 10px;
    color: #d6c9b4;
    text-decoration: none;
    text-align: center;
  }

  .menu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #1c1c1cf6;
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .menu li a {
    display: block;
    padding: 10px;
    color: #d6c9b4;
    text-decoration: none;
  }
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  /* Exibir o dropdown quando o estado isOpen for verdadeiro */
  .dropdownMenu ul li:hover .menu {
    display: block;
  }
}

/* Estilos específicos para tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .dropdownMenu {
    display: flex;
    width: 100vw;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 70%;
    height: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #7b5a50;
    border-top: 2px solid #7b5a50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .container > li > a {
    display: block;
    padding: 10px;
    color: #d6c9b4;
    text-decoration: none;
    text-align: center;
  }

  .menu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #1c1c1cf6;
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .menu li a {
    display: block;
    padding: 10px;
    color: #d6c9b4;
    text-decoration: none;
  }
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .dropdownMenu ul li:hover .menu {
    display: block;
  }
}
