@media (min-width: 320px) and (max-width: 481px) {
  .menu {
  }
  .menuList {
    display: none;
  }
}
@media (min-width: 482px) and (max-width: 768px) {
  .menuList {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .menu {
    background-color: #1c1c1c; /* Preto Carbono */
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuList {
    width: 80%;
    height: 80%;
    border-bottom: solid 2px #7b5a50; /* Bronze Viking */
    border-top: solid 2px #7b5a50; /* Bronze Viking */
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  .menuList li {
    margin: 0;
  }

  .menuList a {
    color: #d6c9b4;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
  }

  .menuList a:hover {
    color: #ffbf00;
    border-bottom: 2px solid #ffbf00;
  }

  .menuList a.active {
    color: #d4af37;
    border-bottom: 2px solid #d4af37;
  }
  .icon {
    border: solid 1px #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .icon img {
  }
}
@media (min-width: 1201px) {
  /* src/app/Components/Menu/StylesMenu.module.css */

  .menu {
    background-color: #1c1c1c; /* Preto Carbono */
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuList {
    width: 80%;
    height: 80%;
    border-bottom: solid 2px #7b5a50; /* Bronze Viking */
    border-top: solid 2px #7b5a50; /* Bronze Viking */
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
  }

  .menuList li {
    margin: 0;
  }

  .menuList a {
    color: #d6c9b4;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
  }

  .menuList a:hover {
    color: #ffbf00;
    border-bottom: 2px solid #ffbf00;
  }

  .menuList a.active {
    color: #d4af37;
    border-bottom: 2px solid #d4af37;
  }
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}
