.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 80vw;
  height: 140px;
  display: flex;
  align-items: center;
}
.title h2 {
  font-size: 2rem;
  color: #d4af37;
}
.containerCards {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}
