.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  width: 80vw;
  height: 140px;
  display: flex;
  align-items: center;
}
.title h2 {
  font-size: 2rem;
  color: #d4af37;
}
.containerCards {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}
/* Mobile devices */
@media (min-width: 320px) and (max-width: 481px) {
  .containerCards {
    width: 85vw;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .title {
    height: 100px;
    width: 85vw;
  }

  .title h2 {
    font-size: 1.2rem;
  }
}
@media (min-width: 482px) and (max-width: 768px) {
  .containerCards {
    width: 65vw;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .title {
    height: 100px;
    width: 65vw;
  }

  .title h2 {
    font-size: 1.4rem;
  }
}

/* Desktops and small laptops */
@media (min-width: 769px) and (max-width: 1200px) {
  .title h2 {
    font-size: 1.7rem;
  }

  .containerCards {
    width: 80vw;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
